.root {
    position: absolute;
    margin-left: 35%;
    margin-top: 10px;
    min-height: 390px;
    min-width: 500px;
    width: 30%;
    border: 0px solid lightgrey;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formElement {
    float: right;
}
